.footer {
   display: flex;
   color: white;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   background-color: black; /* Darker background color */
}

.footer-logo {
   font-size: 1.5em;
   font-weight: bold;
   flex: 1; /* Allow the logo to take up space for even distribution */
   margin-bottom: 10px; /* Add some space below the logo */
}

.copyright {
   color: gold;
}

.footer-content {
   display: flex;
   flex: 3; /* Adjust flex value for better spacing */
   align-items: center;
   gap: 40px;
}

.footer-contact {
   text-align: center; /* Center the contact details */
   flex: 2; /* Adjust flex value for better spacing */
}

@media (max-width: 768px) {
   .footer {
      flex-direction: column;
      gap: 20px;
      padding: 10px; /* Adjust padding for smaller screens */
   }

   .footer-content {
      flex-direction: column;
      align-items: center;
      gap: 15px;
   }

   .footer .footer-contact {
      align-items: center; /* Center alignment for smaller screens */
      gap: 10px;
   }

   .footer-icons {
      justify-content: center;
      margin: 10px 0; /* Add some margin for better spacing */
   }
}

.footer .footer-contact {
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: space-between;
   align-items: center; /* Center the contact details */
}

.footer-icons {
   order: 1; /* Ensure icons are on the far right */
   display: flex;
   gap: 20px; /* Increase gap for better spacing */
   flex: 1; /* Adjust flex value for better spacing */
}

.footer-icons a {
   color: #fff; /* White color for the icons */
   font-size: 1.2em; /* Adjust the size of the icons */
   transition: color 0.3s; /* Smooth color transition on hover */
}

.footer-icons a:hover {
   color: #ff5733; /* Change color on hover */
}
