/* src/styles/Footer.css */
.footer {
   background-color: #333;
   color: #fff;
   padding: 10px;
   text-align: center;
   width: 100%;
}

/* Responsive styling for the footer on smaller screens */
@media (max-width: 768px) {
   .footer {
      padding: 20px; /* Increase padding */
      font-size: 0.9em; /* Adjust font size */
   }
}
