.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 40px;
   background-color: #222;
}

.nav-logo h2 {
   color: white;
   margin: 0;
}

.menu-icon {
   display: none;
   font-size: 2rem;
   cursor: pointer;
}

.nav-links {
   list-style: none;
   padding: 0;
   display: flex;
   gap: 20px;
}

.nav-links li a {
   color: white;
   text-decoration: none;
   padding: 10px 20px;
   transition: background-color 0.3s;
}

.nav-links li a:hover {
   background-color: rgba(255, 255, 255, 0.1);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
   .menu-icon {
      display: block;
   }

   .nav-links {
      display: none;
      flex-direction: column;
      gap: 0;
      position: absolute;
      top: 60px;
      right: 40px;
      background-color: #222;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }

   .nav-links.active {
      display: none;
      display: flex;
   }
}
