/* src/components/NavBar.css */
.navbar {
   background-color: #333;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.title {
   color: #fff;
   margin: 0;
}

.links a {
   margin: 0 10px;
   color: #fff;
   text-decoration: none;
}

.title-link {
   text-decoration: none; /* Remove underline */
   color: inherit; /* Keep the color the same as other text */
}

.title-link:hover {
   text-decoration: underline; /* Optional: underline on hover */
}

.links a:hover {
   text-decoration: underline;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
   .navbar {
      flex-direction: column; /* Stack items vertically on smaller screens */
   }

   .links a {
      display: block; /* Each link takes the full width */
      padding: 5px 0; /* Add some vertical padding for easier tapping */
      text-align: center; /* Center the links */
   }
}
