.portfolio {
   font-family: Arial, sans-serif;
   padding: 20px;
}

.filters {
   display: flex;
   gap: 10px;
   margin-bottom: 20px;
   justify-content: center;
   flex-wrap: wrap;
}

.filters a {
   background-color: #ddd;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-decoration: none;
   color: black;
   transition: background-color 0.3s ease;
   margin: 5px;
}

.filters a:hover {
   background-color: #ccc;
}

.projects {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   gap: 20px;
   margin-bottom: 30px;
}

.project {
   flex: 1 1 auto;
   max-width: 300px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #ccc;
   padding: 20px;
   border-radius: 5px;
   position: relative;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
   transform: scale(1.05);
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.media-preview {
   flex: 0 0 225px;
   margin-right: 20px;
   position: relative;
   overflow: hidden;
   border-radius: 5px;
   margin-bottom: 10px;
   display: inline-block;
}

.media-preview video,
.media-preview audio {
   width: auto;
   max-height: 400px;
   object-fit: cover;
}

.media-preview iframe {
   width: 225px;
   height: 400px;
   object-fit: cover;
}

.media-preview {
   flex: 0 0 40%;
   margin-right: 20px;
}

.project-details-container {
   max-width: 60%;
   padding: 10px;
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.project-title,
.project-details,
.technical-details {
   white-space: normal;
   word-wrap: break-word;
   overflow-wrap: break-word;
}

.project-title {
   margin: 10px 0;
   font-size: 18px;
   font-weight: bold;
}

.project-details,
.technical-details {
   font-size: 14px;
   margin: 5px 0;
}

section {
   margin-bottom: 40px;
}

section h2 {
   font-size: 24px;
   margin-bottom: 20px;
   border-bottom: 2px solid #ccc;
   padding-bottom: 10px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
   .media-preview video,
   .media-preview audio {
      width: 100%;
   }

   .media-preview iframe {
      width: auto;
      height: auto;
   }
}

.project-details-container {
   max-width: 60%;
   padding: 10px;
   flex: 1;
}

.media-preview {
   display: flex;
   justify-content: flex-start;
   overflow-x: auto;
   padding: 20px 0;
}
